<div id='bus_stops_select_main'>
	<% if bus_stop_list.present? %>
	  <div class="field">
	    <%= label :main_bus_stop_id, 'メインのバス停' %>
	    <%= select_tag 'child[main_bus_stop_id]', options_for_select(bus_stop_list, @child.try(:main_bus_stop_id)) %>
	  </div>
	<% end %>
</div>