<h3><%= @count_str %></h3>

<table>
  <thead>
    <tr>
      <th>名前</th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td>
          <%= link_to child, style: "text-decoration: none;" do %>
            <font color=<%= sex_color(child.sex_code) %>><%= child.full_name_f %></font>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
